<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tutorial">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tutorial"
        android:usesCleartextTraffic="true">
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".widgets"/>
        <activity android:name=".TemperatureConverterActivity"/>
        <activity android:name=".LifecycleActivity"/>
        <activity android:name=".SendMessageObjectActivity"/>
        <activity android:name=".ReceiveMessageActivity"/>
        <activity android:name=".IntentsActivity"/>
        <activity android:name=".SendMessageActivity"/>
        <activity android:name=".GetNumberActivity"/>
        <activity android:name=".AdaptersActivity"/>
        <activity android:name=".CustomAdaptersActivity"/>
        <activity android:name=".UserActivity"/>
        <activity android:name=".FragmentsActivity"/>
        <activity android:name=".FragmentStaticActivity"/>
        <activity android:name=".DialogsActivity"/>
        <activity android:name=".MenuActivity" android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"/>
        <activity android:name=".SettingsActivity" android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"/>
        <activity android:name=".SharedPreferencesActivity"/>
        <activity android:name=".InternalActivity"/>
        <activity android:name=".SqliteActivity"/>
        <activity android:name=".JSONActivity"/>
        <activity android:name=".HTTPActivity"/>

    </application>

</manifest>